<form class="scrollbar-hidden max-h-[500] overflow-scroll rounded-xl bg-white">
  <div class="flex items-center gap-1 p-4"></div>

  <div class="flex gap-1 p-4">
    <img src="images/icon-task-star.svg" class="" alt="" />

    <h1 class="text-lg font-semibold">Comentar tarefa</h1>

    <img
      src="images/icon-close.svg"
      class="ml-auto cursor-pointer"
      alt=""
      (click)="onCloseModal()"
    />
  </div>

  <div class="border-t border-[#d1d5db] p-4">
    <h1 class="mb-4 text-lg font-semibold">Minha nova tarefa</h1>
    <p class="mb-2 text-sm font-semibold">Descrição</p>
    <p class="text-base font-normal text-[#374151]">
      Essa é a minha tarefa para criar um projeto Angular
    </p>
  </div>

  <div class="p-4">
    <div class="flex flex-col gap-5 rounded-xl bg-[#f3f4f6] p-5">
      <div>
        <p class="text-sm font-bold">Comentários</p>
      </div>

      <div class="flex items-start gap-2">
        <div class="flex w-full flex-col">
          <input
            type="text"
            placeholder="Adicione um comentário"
            class="flex-1 rounded-lg border border-[#d1d5db] bg-white p-3 text-sm font-light"
            [formControl]="commentControl"
          />
        </div>

        <button
          type="button"
          (click)="onAddComment()"
          [disabled]="commentControl.invalid"
          class="{{`cursor-pointer rounded-xl px-4 py-3 text-sm font-semibold text-white
          ${commentControl.invalid
            ? 'bg-[#d7d8d8]'
            : 'bg-[#2a89ef] shadow-md shadow-blue-500/50 transition-transform duration-75 active:translate-y-1'
          }`}}
          "
        >
          Adicionar
        </button>
      </div>

      <div>
        <p class="text-sm font-bold">Comentários</p>
      </div>

      <div class="scrollbar-hidden flex max-h-44 flex-col gap-5 overflow-scroll">
        <!-- Comentários -->
        @for (comment of _task.comments; track comment.id; let last = $last) {
          <div class="{{`flex flex-col gap-3 ${last ? '' : 'border-b border-[#d1d5db]'}`}}">
            <div>
              <p class="text-sm font-light text-[#374151]">{{ comment.description }}</p>
            </div>

            <div class="{{`flex gap-4 ${last ? '' : 'mb-3'}`}}">
              <p class="text-xs font-normal text-[#9ca3af]">comentado há 10 min atrás</p>

              <button
                type="button"
                class="cursor-pointer text-xs font-semibold underline underline-offset-2"
              >
                apagar
              </button>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</form>
