<form class="scrollbar-hidden max-h-[500] overflow-scroll rounded-xl bg-white">
  <div class="flex items-center gap-1 p-4"></div>

  <div class="flex gap-1 p-4">
    <img src="images/icon-task-star.svg" class="" alt="" />

    <h1 class="text-lg font-semibold">Comentar tarefa</h1>

    <img src="images/icon-close.svg" class="ml-auto cursor-pointer" alt="" />
  </div>

  <div class="border-t border-[#d1d5db] p-4">
    <h1 class="mb-4 text-lg font-semibold">Minha nova tarefa</h1>
    <p class="mb-2 text-sm font-semibold">Descrição</p>
    <p class="text-base font-normal text-[#374151]">
      Essa é a minha tarefa para criar um projeto Angular
    </p>
  </div>

  <div class="p-4">
    <div class="flex flex-col gap-5 rounded-xl bg-[#f3f4f6] p-5">
      <div>
        <p class="text-sm font-bold">Comentários</p>
      </div>

      <div class="flex items-start gap-2">
        <div class="flex w-full flex-col">
          <input
            type="text"
            placeholder="Adicione um comentário"
            class="flex-1 rounded-lg border border-[#d1d5db] bg-white p-3 text-sm font-light"
          />
          <p class="text-sm font-semibold text-red-500">O campo é obrigatório.</p>
        </div>

        <button
          type="button"
          class="cursor-pointer rounded-xl bg-[#2a89ef] px-4 py-3 text-sm font-semibold text-white shadow-md shadow-blue-500/50 transition-transform duration-75 active:translate-y-1"
        >
          Adicionar
        </button>
      </div>

      <div>
        <p class="text-sm font-bold">Comentários</p>
      </div>

      <!-- Comentários -->
      <div class="scrollbar-hidden flex max-h-44 flex-col gap-5 overflow-scroll">
        <div class="flex flex-col gap-3 border-b border-[#d1d5db]">
          <div>
            <p class="text-sm font-light text-[#374151]">Já finalizei!</p>
          </div>

          <div class="mb-3 flex gap-4">
            <p class="text-xs font-normal text-[#9ca3af]">comentado há 10 min atrás</p>
            <p class="cursor-pointer text-xs font-semibold underline underline-offset-2">apagar</p>
          </div>
        </div>
      </div>

      <div class="scrollbar-hidden flex max-h-44 flex-col gap-5 overflow-scroll">
        <div class="flex flex-col gap-3 border-b border-[#d1d5db]">
          <div>
            <p class="text-sm font-light text-[#374151]">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam quam praesentium
              corporis quis ea, sint delectus unde totam commodi distinctio. Vero rerum temporibus
              facere veniam, rem voluptates suscipit? Facilis, asperiores!
            </p>
          </div>

          <div class="mb-3 flex gap-4">
            <p class="text-xs font-normal text-[#9ca3af]">comentado há 10 min atrás</p>
            <p class="cursor-pointer text-xs font-semibold underline underline-offset-2">apagar</p>
          </div>
        </div>
      </div>

      <div class="scrollbar-hidden flex max-h-44 flex-col gap-5 overflow-scroll">
        <div class="flex flex-col gap-3">
          <div>
            <p class="text-sm font-light text-[#374151]">Já finalizei!</p>
          </div>

          <div class="mb-3 flex gap-4">
            <p class="text-xs font-normal text-[#9ca3af]">comentado há 10 min atrás</p>
            <p class="cursor-pointer text-xs font-semibold underline underline-offset-2">apagar</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
