<div
  class="flex flex-col gap-7 rounded-2xl bg-[#ecf4f3] p-8 sm:flex-row-reverse sm:items-center sm:justify-between"
>
  <div class="">
    <img src="images/icon-hand-coding.svg" class="" alt="" />
  </div>
  <div class="flex flex-col gap-4">
    <div>
      <h1 class="text-2xl font-bold">
        Bem vinda de volta, <br />
        Jennie
      </h1>
      <h3 class="font-medium text-[#374151] opacity-80">Não se esqueça de atualizar as tarefas</h3>
    </div>
    <div>
      <button
        type="button"
        class="flex cursor-pointer gap-2 rounded-xl bg-[#2a89ef] px-4 py-3 text-center text-sm font-semibold text-white shadow-md shadow-blue-500/50 transition-transform duration-75 active:translate-y-1"
      >
        <img src="images/icon-plus-circle.svg" alt="" /> Criar tarefa
      </button>
    </div>
  </div>
</div>
