<div class="flex cursor-grab flex-col gap-3 rounded-xl bg-[#fafafa] p-3">
  <div class="flex gap-1">
    <p class="font-bold">Minha nova tarefa</p>
    <img src="images/icon-delete.svg" class="ml-auto cursor-pointer self-start" alt="" />
  </div>
  <p class="text-sm font-light">Essa é a minha tarefa para criar uma aplicação angular</p>
  <div class="item-center flex gap-1">
    <img src="images/icon-comments.svg" alt="" />

    <p class="cursor-pointer text-xs font-semibold text-[#2a89ef] underline underline-offset-2">
      2 comentários
    </p>

    <button
      type="button"
      (click)="openEditTaskModal()"
      class="ml-auto cursor-pointer text-xs font-semibold text-[#2a89ef] underline underline-offset-2"
    >
      Editar
    </button>
  </div>
</div>
